@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dictionary<WebProject.Models.Person, List<WebProject.Models.Project>>

<br>
<br>
<br>
<br>
<br>

<div id="person_list" class="container">

    @if (Model != null)
    {
        // Loop through each person-project pair in the Model (Dictionary)
        @foreach (var personProjectsPair in Model)
        {
            var person = personProjectsPair.Key;
            var projects = personProjectsPair.Value;

            <div class="row person_item">

                <div class="col-md-4">
                    <h2>@person.AdSoyad</h2>
                    <ul>
                        <li>Akademisyen No: @person.AkademisyenNo</li>
                        <li>E-posta: @person.Eposta</li>
                        <li>Unvanı: @person.Hakkında</li>
                        <li>Telefon Numarası: @person.TelefonNUmarası</li>
                        <li>Hakkında: @person.Hakkında</li>
                        <li>
                            @if (!string.IsNullOrEmpty(person.ResimUrl))
                            {
                                <img src="@person.ResimUrl" alt="@person.AdSoyad resim" class="person-image">
                            }
                        </li>
                    </ul>
                </div>

                <div class="col-md-8">
                    <h2>Projeleri</h2>
                    <ul>
                        @foreach (var project in projects)
                        {
                            <li>
                                Proje No: @project.ProjeNe<br>
                                Proje Adı: @project.ProjeIsmi<br>
                                Proje Açıklaması: @project.ProjeHakkında
                                @if (!string.IsNullOrEmpty(project.ResimUrl))
                                {
                                    <img src="@project.ResimUrl" alt="@project.ProjeIsmi resim" class="project-image">
                                }
                            </li>
                        }
                    </ul>
                </div>

            </div>
        }
    }
    else
    {
        <p>Kişi veya proje bulunamadı.</p>
    }
</div>

<style>
    .person-image, .project-image {
        /* Add your desired image styling here */
        max-width: 150px;
        height: auto;
    }
</style>
