@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dictionary<WebProject.Models.Person, List<WebProject.Models.Project>>

<br>
<br>
<br>
<br>
<br>

<div id="person_list" class="container">

    @if (Model != null)
    {
        // Loop through each person-project pair in the Model (Dictionary)
        @foreach (var personProjectsPair in Model)
        {
            var person = personProjectsPair.Key;
            var projects = personProjectsPair.Value;

            <div class="row person_item">

                <div class="col-md-4 person-info">
                    <li>
                        @if (!string.IsNullOrEmpty(person.ResimUrl))
                        {
                            <img src="@person.ResimUrl" alt="@person.AdSoyad resim" class="person-image">
                        }
                    </li>
                    <h2>@person.AdSoyad</h2>
                    <ul>
                        <li>E-posta: @person.Eposta</li>
                        <li>Telefon Numarası: @person.TelefonNUmarası</li>
                        <li>Doktora: @person.Doktora</li>
                        <li>Yüksek Lisans: @person.YüksekLisans</li>
                        <li>lisans: @person.lisans</li>
                        <li>Arastirma Alanları: @person.ArastirmaAlanı</li>
                        <li>Hakkında: @person.Hakkında</li>
                    </ul>
                </div>

                <div class="col-md-10 project-list">
                    <h2>Projeleri</h2>
                    <ul>
                        @foreach (var project in projects)
                        {
                            <li>
                             
                                <div class="project-details">
                                    @if (!string.IsNullOrEmpty(project.ResimUrl))
                                    {
                                        <img src="@project.ResimUrl" alt="@project.ProjeIsmi resim" class="project-image">
                                    }
                                    <p>Proje Adı: @project.ProjeIsmi</p>
                                    <p>Proje Açıklaması: @project.ProjeHakkında</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        }
    }
    else
    {
        <p>Kişi veya proje bulunamadı.</p>
    }
</div>


<style>
    /* Add your desired styles here */
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    .person-item {
        display: flex;
        margin-bottom: 20px;
    }

    .person-info, .project-list {
        flex: 1;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .person-image {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    
  

        
</style>
