

@model IEnumerable<WebProject.Models.Kullanicilar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Kullanıcılar</h2>

<p>
    <a asp-action="Create">Yeni Kullanıcı Ekle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Parola</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.id)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Parola)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

